.block-std{ max-width: 100%; margin-bottom: $spacing; padding: $spacing;
	@include media-max(sm){margin-bottom: $spacing*0.5; padding: $spacing*0.5;}
	&:not([class*="bg-"]){background-color: body(block-background);}
	.d-grid>&{margin-bottom: 0;}
	@include paper();
	@include lastChildNoMargin();
}